@model Web.ViewModels.SettingsRestrictedWordViewModel

@{
    ViewData["Title"] = "Edit Customer Restricted Word";
    var formId = Guid.NewGuid();
}

@section Toolbar  {
    <div class="btn-toolbar mb-2 mb-md-0" role="toolbar">
        <div class="btn-group mr-2">
            <form method="POST" asp-action="DeleteSettingsRestrictedWord">
                <input asp-for="Id" type="hidden" />
                <button type="submit" class="btn btn-danger" onclick="if (! confirm('Are you sure want to delete this?')) { return false; }"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
            </form>
        </div>
    </div>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Settings</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <form id="@(formId)" asp-action="EditSettingsRestrictedWord">
            <fieldset>
                <input type="hidden" asp-for="Id" />
                <div class="form-row mb-3">
                    <div class="col">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="CompanyIds"></label>
                        <select asp-for="CompanyIds" asp-items="@ViewBag.Companies" class="form-control selectpicker" multiple></select>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" form="@formId">Save</button>
        <a asp-action="Index" class="btn btn-link">Cancel</a>
    </div>
</div>