@model Web.ViewModels.CustomerSettingsViewModel

@{
    ViewData["Title"] = "Settings";
    var tableId = Guid.NewGuid();

    var settingsRestrictedWordsUrl = Url.RouteUrl("GetSettingsRestrictedWords");
    var settingsRestrictedWordEditUrl = Url.ActionLink(action: "EditSettingsRestrictedWord", controller: "Settings");
    var settingsRestrictedWordDeleteUrl = Url.RouteUrl("DeleteSettingsRestrictedWord");
}

@section Toolbar  {
    <div class="btn-toolbar" role="toolbar">
        <button id="deleteBtn" class="btn btn-danger"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
    </div>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Settings</a></li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <ul id="companySettingsTab" class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" id="restricted-tab" href="#restricted">Restricted Words</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="restricted" role="tabpanel" aria-labelledby="restricted-tab">
                <div id="toolbar" class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-1" role="group">
                        <a asp-controller="Settings" asp-action="CreateSettingsRestrictedWord" class="btn btn-secondary"><i class="fa fa-plus mr-1"></i> Create</a>
                    </div>
                </div>
                <table id="@tableId" data-toggle="table" data-url="@(settingsRestrictedWordsUrl)"
                       data-total-field="totalItems"
                       data-data-field="items">
                    <thead>
                        <tr>
                            <th data-checkbox="true"></th>
                            <th data-field="name" data-sortable="true">Name</th>
                            <th data-formatter="actionFormatter" class="text-right table-active collapsing">Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        function actionFormatter(value, row) {
            return `<a href='@(settingsRestrictedWordEditUrl)/${row.id}' class='btn btn-secondary mr-1'>Edit</a>`;
        }

        $(document).ready(() => {
            var $table = $('#@(tableId)');
            var $deleteBtn = $('#deleteBtn');

            $table.on('load-success.bs.table', function (e, data, jqXHR) {
                var selections = $table.bootstrapTable('getSelections');

                if (!selections.length) {
                    $deleteBtn.hide();
                } else {
                    $deleteBtn.show();
                }
            });

            $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
                var selections = $table.bootstrapTable('getSelections');

                if (!selections.length) {
                    $deleteBtn.hide();
                } else {
                    $deleteBtn.show();
                }
            });

            $bulkDeleteBtn.click(_ => {
                if (!confirm('Are you sure want to delete this?')) { return false; }

                var options = $table.bootstrapTable('getOptions');
                var selections = $table.bootstrapTable('getSelections');
                var ids = selections.map(x => x.id);

                if (ids.length > 0) {
                    var options = {
                        'url': '@(settingsRestrictedWordDeleteUrl)',
                        'traditional': true,
                        'contentType': 'application/json; charset=utf-8',
                        'data': { id: ids },
                        'complete': (jqXHR, status) => {
                            if (status === "success") {
                                $table.bootstrapTable('refresh');
                            }
                        }
                    };

                    $.ajax(options);
                }
            });
        });
    </script>
}