@model Web.ViewModels.CustomerCreditUtilizedViewModel

@{
    ViewData["Title"] = "Create customer credit utilized";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Customers</a></li>
        <li class="breadcrumb-item"><a asp-action="Edit" asp-route-id="@Model.CustomerId">@ViewBag.CustomerName</a></li>
        <li class="breadcrumb-item active" aria-current="page">New credit utilized</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">@ViewBag.CustomerName</div>
    <div class="card-body">
        <form id="createForm" method="POST" asp-action="CreateCreditUtilized">
            <fieldset>
                <input asp-for="CustomerId" type="hidden" />
                <div class="form-row mb-3">
                    <div class="col-6">
                        <label asp-for="Value"></label>
                        <input asp-for="Value" class="form-control" required>
                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="CreatedDate"></label>
                        <input asp-for="CreatedDate" type="date" class="form-control" required>
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <div class="form-check">
                            <input asp-for="IsIgnored" class="form-check-input" type="checkbox">
                            <label asp-for="IsIgnored" class="form-check-label"></label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="card-footer">
        <div class="" role="toolbar" aria-label="Toolbar with button groups">
            <button type="submit" class="btn btn-primary" form="createForm">Save</button>
            <a asp-action="Edit" asp-route-id="@Model.CustomerId" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>