@{
    ViewData["Title"] = "Customers";

    var customersUrl = Url.RouteUrl("GetCustomers");
    var uploadCustomersUrl = Url.RouteUrl("UploadCustomers");
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div id="toolbar" class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-1" role="group">
                    <a asp-controller="Customer" asp-action="Create" class="btn btn-secondary"><i class="fa fa-plus mr-1"></i> Create</a>
                </div>
                <div class="btn-group mr-1" role="group">
                    <button id="uploadGroupBtn" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Uploads
                    </button>
                    <div class="dropdown-menu" aria-labelledby="uploadGroupBtn">
                        <label class="dropdown-item">
                            <input type="file" style="display: none;" action="@(uploadCustomersUrl)" method="POST">
                            @*<input type="file" style="display: none;" asp-action="UploadCustomers" action="/customer/upload" method="POST">*@
                            Upload Customers
                        </label>
                        <label class="dropdown-item">
                            <input type="file" style="display: none;" action="/customer/uploadcredits" method="POST">
                            Upload Credits
                        </label>
                    </div>
                </div>
            </div>
            <table id="datatable" data-toggle="table" data-url="@customersUrl"
                   data-total-field="totalItems"
                   data-data-field="items">
                <thead>
                    <tr>
                        <th data-field="no" data-sortable="true">No</th>
                        <th data-field="isActive" data-formatter="activityFormatter">Activity</th>
                        <th data-field="name" data-formatter="nameFormatter" data-sortable="true">Customer</th>
                        <th data-field="phoneNumber" data-sortable="true">Phone</th>
                        <th data-field="creditLimit">Credit limit</th>
                        <th data-field="creditUtilized">High credit utilized</th>
                        <th data-field="address">Address</th>
                        <th data-field="terms" data-sortable="true">Terms</th>
                        <th data-formatter="actionFormatter" class="text-nowrap text-right table-active" data-width="10" data-width-unit="%">Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        function nameFormatter(value, row) {
            return `${value} <p class='text-muted'>${row.company}</p>`;
        }

        function activityFormatter(value, row) {
            return `<i class='mr-1 fa ${row.isActive ? 'fa-check-circle' : 'fa-times-circle'}'></i>`;
        }

        function actionFormatter(value, row) {
            return `<a href='/customer/edit/${row.id}' class='btn btn-secondary mr-1' >Edit</a>`;
        }

        //function showImportDialog(html, status) {
        //    $(html).dialog('Import CSV', (action, evt, content) => {
        //        if (action === 'modal.on.load') {
        //            $(content).on('submit', e => {
        //                e.preventDefault();

        //                $(e.target).ajaxSubmit({}, (form, data, status, jqXHR, opt) => {
        //                    if (status === 'success') {
        //                        $('#datatable').bootstrapTable('refresh');
        //                        window.modal.modal('hide');
        //                    } else if (status === 'error') {
        //                        alert(jqXHR.responseText);
        //                    }
        //                });
        //            });
        //        }
        //    });
        //}

        $(document).ready(() => {
            $('input[type=file]').on('change', e => {
                $(e.target).uploadFile((element, data, status, jqXHR) => {
                    if (status === 'success') {
                        $(data).dialog('Upload Customers CSV', (eventName, _, target) => {
                            if (eventName === 'shown.bs.modal') {
                                target.on('submit', e => {
                                    e.preventDefault();

                                    $(e.target).ajaxSubmit({}, (form, data, status, jqXHR) => {
                                        if (status === 'success') {
                                            $('#datatable').bootstrapTable('refresh');
                                            window.modal.modal('hide');
                                        }
                                    });
                                })
                            }
                        });
                    }
                });
            });
        });
    </script>
}
