@model Web.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = "Saved Reports Fact";
    var tableId = Guid.NewGuid();
    var tableUrl = Url.RouteUrl("GetSavedReportFact", new { id = Model.Id });
    var publishUrl = Url.RouteUrl("PublishFact");
    var deleteUrl = Url.RouteUrl("DeleteSavedReportFact");
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="SavedReport" asp-action="Index" asp-fragment="fact">Saved reports</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <table id="@tableId"
               data-classes="table table-bordered table-condensed"
               data-data-field="items"
               data-search="false"
               data-pagination="false"
               data-show-refresh="false"
               data-filter="false"
               data-fixed-columns="true"
               data-fixed-number="1"
               data-show-columns-toggle-all="true">
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(e => {
            initTable();
        })

        function initTable() {
            var $tableId = $('#@tableId');
            $.get('@tableUrl', (data, status) => {
                $tableId.bootstrapTable('destroy');
                $tableId.bootstrapTable({
                    'data': data.items,
                    'columns': data.columns.map(x => {
                        x.formatter = 'formatter';
                        //x.width = '160';
                        //x.widthUnit = 'px';
                        return x;
                    }),
                    'onPostBody': function (data) {
                        $tableId.find('[data-request=ajax]').xSubmit();
                    },
                });
            })
        }

        function formatter(value, row) {
            if (row.Name === "Id") {
                if (value === "Id") {
                    value = "Action";
                } else if (value !== "Id") {
                    if (value.isPublished) {
                        return `<span class='text-success'><i class='far fa-check-circle'></i> Published</span>`;
                    } else {
                        return `<div id='action_${value.id}'>
                                  <form data-request='ajax' rel='xPublishSubmitComplete' action='@(publishUrl)?id=${value.id}' method='post'>
                                    <button type='submit' class='btn btn-secondary btn-block mb-1'>Publish</button>
                                  </form>
                                  <form data-request='ajax' rel='xDeleteSubmitComplete' action='@(deleteUrl)?id=${value.id}' method="delete">
                                    <input type='hidden' name='Id' value='${value.id}' />
                                    <button type='submit' class='btn btn-danger btn-block' onclick="if (! confirm('Are you sure want to delete this?')) { return false; }"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
                                  </form>
                                </div>`;
                    }
                }
            } else if (typeof (value) === 'object') {
                return `<span>${value.count}</span><br/><span>${value.amount ?? ''}</span>`
            } else {
                return `<strong>${value}</strong>`;
            }
        }

        function xPublishSubmitComplete(e, jqXHR, status) {
            if (status === 'success') {
                var data = jqXHR.responseJSON;
                data.isPublished ? $(`#action_${data.id}`).html('<span class="text-success"><i class="far fa-check-circle"></i> Published</span>') : '';
            }
        }

        function xDeleteSubmitComplete(e, jqXHR, status) {
            if (status === 'success') {
                initTable();
            }
        }
    </script>
}