@model Web.ViewModels.PaymentFilterViewModel
@{
    Layout = null;
    var formId = Guid.NewGuid();
}

<form id="@formId" data-request="ajax" action="" rel="filterSubmit">
    <fieldset>
        <div class="form-row mb-3">
            <div class="col-4">
                <label asp-for="CompanyId"></label>
                <select asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control" data-live-search="true">
                    <option value="">Choose one of the following...</option>
                </select>
            </div>
            <div class="col-4">
                <label asp-for="DateFrom">Date From/To</label>
                <div class="input-group">
                    <input asp-for="DateFrom" type="date" class="form-control" />
                    <input asp-for="DateTo" type="date" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label asp-for="CreatedDateFrom">Record Date From/To</label>
                <div class="input-group">
                    <input asp-for="CreatedDateFrom" type="date" class="form-control" />
                    <input asp-for="CreatedDateTo" type="date" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-check col">
            <input type="checkbox" class="form-check-input" @(Model.RandomSort ? "checked" : "") name="RandomSort:boolean" id="RandomSort" data-val="true" data-value-type="boolean" />
            <label asp-for="RandomSort" class="form-check-label"></label>
        </div>

    </fieldset>
</form>