@model Web.ViewModels.BulkPaymentViewModel
@{
    ViewData["Title"] = "Create Bulk Payment";
}

<form class="need-validation" id="bulkForm" action="/api/payment/bulk" method="post">
    <fieldset>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col">
                        <div class="form-group">
                            <label asp-for="CompanyId"></label>
                            <select id="companies" asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control selectpicker"
                                    required
                                    data-live-search="true">
                            </select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DateFrom"></label>
                            <input id="datefrom" asp-for="DateFrom" type="date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="DateTo"></label>
                            <input id="dateto" asp-for="DateTo" type="date" class="form-control" required>
                        </div>

                        <div class="card text-white bg-info mb-3" id="paymentPeriodForm">
                            <fieldset disabled>
                                <div class="card-header">Payment</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="PaymentDateFrom"></label>
                                        <input id="paymentDateFrom" asp-for="PaymentDateFrom" type="date" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="PaymentDateTo"></label>
                                        <input id="paymentDateTo" asp-for="PaymentDateTo" type="date" class="form-control" required>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-lg-8 col">
                        <div class="form-group">
                            <label>Invoices</label>
                            <table id="datatable" class="table table-striped table-sm" data-toggle="table"
                                   data-id-field="id"
                                   data-select-item-name="Invoices[]"
                                   data-click-to-select="true"
                                   data-show-extended-pagination="true"
                                   data-search="true"
                                   data-pagination="false"
                                   data-show-refresh="false"
                                   data-show-columns="false"
                                   data-show-toggle="false"
                                   data-side-pagination="client"
                                   data-search-on-enter-key="false"
                                   data-height="380">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="no" class="text-nowrap">Invoice</th>
                                        <th data-field="customerName">Customer</th>
                                        <th data-field="date" data-formatter="$.fn.bootstrapTable.formatDate">Date</th>
                                        <th data-field="dueDate" data-formatter="$.fn.bootstrapTable.formatDate">Due Date</th>
                                        <th data-field="subtotal">Subtotal</th>
                                        <th data-field="paymentAmount">Payment</th>
                                        <th data-formatter="balanceFormatter">Balance</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer" role="toolbar" aria-label="Toolbar with button groups">
                <button type="submit" class="btn btn-outline-primary">Generate</button>
                <a asp-action="index" class="btn btn-link">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>

<div id="content"></div>

@section Scripts {
    <script type="text/javascript">

        function balanceFormatter(value, row, index) {
            return (row.subtotal - row.paymentAmount).toFixed(2);
        }

        function switchpaymentPeriodForm(visible) {
            if (visible) {
                $('#paymentPeriodForm fieldset').removeAttr('disabled');
            } else {
                $('#paymentPeriodForm fieldset').attr('disabled', 'disabled');
            }
        }

        $(document).ready(e => {
            var data =  @Json.Serialize(ViewBag.Invoices);
            var $table = $('#datatable').bootstrapTable('load', data)
                .on('check.bs.table', (field, value, row, $element) => switchpaymentPeriodForm($table.bootstrapTable('getSelections').length > 0))
                .on('uncheck.bs.table', (field, value, row, $element) => switchpaymentPeriodForm($table.bootstrapTable('getSelections').length > 0));

            var $bulkForm = $('#bulkForm');

            $('#companies, #datefrom, #dateto').on('change', (e) => {
                let $fieldset =  $bulkForm.find('fieldset');
                let fd = $bulkForm.serializeJSON();
                $fieldset.attr('disabled', 'disabled');
                $.when($.fn.getBulkInvoices(fd.CompanyId, fd.DateFrom, fd.DateTo)).done((invoices) => {
                    $('#content').empty();
                    $table.bootstrapTable('load', invoices);
                }).then(_ => {
                    $fieldset.removeAttr('disabled');
                });
            });

            $bulkForm.on('submit', e => {
                $bulkForm.ajaxSubmit({}, (target, data, status) => {
                    status === 'success' ? $('#content').html(data) : $('#content').empty();
                });
                e.preventDefault();
            });

            $('#content').on('submit', e => {
                var $target = $(e.target);
                $target.ajaxSubmit({}, (form, data, status, jqXHR, opt) => {
                    if (status === 'success') {
                        form.addClass('border-success').delay(1500).fadeOut(1000, function () {
                            $(this).remove();
                        });

                        let fd = form.serializeJSON();
                        $.when($.fn.getBulkInvoices(fd.CompanyId, fd.DateFrom, fd.DateTo)).then((invoices) => {
                            $table.bootstrapTable('load', invoices);
                        });
                    }
                });
                e.preventDefault();
            });
        });
    </script>
}