@model Web.ViewModels.PaymentViewModel
@{
    ViewData["Title"] = "Payment Detail";
}

<div class="card">
    <div class="card-body">
        <table class="table table-sm table-borderless">
            <caption>Company:</caption>
            <tbody>
                <tr>
                    <td>@Model.No</td>
                </tr>
                <tr>
                    <td>Address: @Model.</td>
                </tr>
                <tr>
                    <td>PN: </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

