@model Web.ViewModels.PaymentViewModel

@{
    ViewData["Title"] = "Edit Payment";
    //ViewData["SubTitle"] = "Please provide all required details to register new customer";
}

@section Toolbar  {
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <form method="POST" asp-action="Delete">
                <input asp-for="Id" type="hidden" />
                <button type="submit" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
            </form>
        </div>
    </div>
}
<form method="POST" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <div class="form-row mb-3">
                        <div class="col-6">
                            <label asp-for="No"></label>
                            <input asp-for="No" type="text" class="form-control" required readonly>
                            <span asp-validation-for="No" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label>Select Customers</label>
                            <select asp-for="CustomerId" asp-items="@ViewBag.Customers" id="customer" class="form-control selectpicker" data-live-search="true" required>
                                <option>Please select one</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="form-row md-3">
                        <label asp-for="InvoiceId">Unpaid Invoices</label>
                        <select asp-for="InvoiceId" asp-items="@ViewBag.Invoices" id="invoices" class="form-control selectpicker" data-live-search="true" data-show-subtext="true" required title="Please select one">
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-4">
                    <label asp-for="Date"></label>
                    <div class="input-group date">
                        <input asp-for="Date" type="text" class="form-control datepicker" aria-describedby="addon-date" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="addon-date"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Amount"></label>
                    <input id="amount" asp-for="Amount" type="number" step="0.01" class="form-control" min="0" required>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="" role="toolbar" aria-label="Toolbar with button groups">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="index" class="btn btn-link">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(() => {
            $('#customer').on('change', (e) => {
                var target = $(e.currentTarget);
                $.get(`/api/invoice/unpaid/${target.val()}`, data => {
                    var opt = $.map(data, function (val, i) {
                        return `<option value='${val.id}' data-subtext='$${val.amount} - ${val.dueDate}'>${val.no}</option>`
                    });
                    $("#invoices").html(opt).selectpicker('refresh');
                });
            });

            $('#invoices').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                var invoiceId = $(this).val();
                $.get(`/api/invoice/${invoiceId}`, data => {
                    $('#amount').val(data.amount - data.paymentAmount);
                });
            });

        });
    </script>

}