@{
    ViewData["Title"] = "Payments";
}

<div class="card">
    <div class="card-body">
        <div id="toolbar" role="toolbar">
            <a asp-controller="Payment" asp-action="Create" class="btn btn-outline-secondary"><i class="fa fa-plus mr-1"></i> Create</a>
            <a asp-controller="Payment" asp-action="Bulk" class="btn btn-outline-secondary"><i class="fa fa-mail-bulk mr-1"></i> Bulk</a>
        </div>
        <table id="datatable" data-toggle="table" data-url="/api/payment"
               data-total-field="totalItems"
               data-data-field="items">
            <thead>
                <tr>
                    <th data-field="no" data-sortable="true">No</th>
                    <th data-field="amount">Amount</th>
                    <th data-field="date" data-formatter="dateFormat" data-sortable="true">Date</th>
                    <th data-field="dueDate" data-formatter="dateFormat" data-sortable="true">Due Date</th>
                    <th data-field="invoiceNo" data-formatter="invoiceFormatter">Invoice</th>
                    <th>Status (not available)</th>
                    <th data-formatter="actionFormatter" class="text-nowrap text-right table-active" data-width="10" data-width-unit="%">Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function dateFormat(value, row, index) {
            return moment(value).format('MMM/DD/YYYY');
        }

        function actionFormatter(value, row) {
            return `<a href='/payment/edit/${row.id}' class='btn btn-outline-secondary mr-1'>Edit</a>
                    <a href='/payment/details/${row.id}' class='btn btn-outline-secondary mr-1'>Detail</a>`;
        }

        function invoiceFormatter(value, row) {
            return `<a href='/invoice/details/${row.invoiceId}'>${value}</a>`
        }
    </script>
}