@{
    ViewData["Title"] = "Payments List";
}

<div>
    <div id="toolbar" role="toolbar">
        <a asp-controller="Payment" asp-action="Create" class="btn btn-primary"><i class="fa fa-plus mr-1"></i> Create</a>
    </div>
    <table id="datatable" class="table table-striped" data-toggle="table" data-url="/api/payment" data-search="true" data-toolbar="#toolbar"
           data-thead-classes="thead-dark">
        <thead>
            <tr>
                <th data-field="ref" rowspan="2">Ref#</th>
                <th data-field="date" data-formatter="dateFormat" rowspan="2">Date</th>
                <th data-field="amount" rowspan="2">Amount</th>
                <th colspan="2">Invoice</th>
                <th data-formatter="actionFormatter" rowspan="2"></th>
            </tr>
            <tr>
                <th data-field="invoiceNo" data-formatter="InvoiceActionFormatter">No</th>
                <th data-field="dueDate" data-formatter="dateFormat" >Due Date</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        function actionFormatter(value, row) {
            return `<a href='/payment/edit/${row.id}'><i class='fa fa-edit'></i></a>
                    <a href='/payment/details/${row.id}' class='mr-1'><i class='fa fa-file-invoice'></i></a>`;
        }

        function InvoiceActionFormatter(value, row) {
            return `<a href='/invoice/details/${row.invoiceId}'>${value}</a>`
        }

        function dateFormat(value, row, index) {
            return moment(value).format('MMM/DD/YYYY');
        }

                //$('#datatable').on('click-row.bs.table', function (event, row, field) {
                //    window.location.href = `/payment/details/${row.id}`;
                //});
    </script>
}