@model Web.ViewModels.InvoiceConstructorFilterViewModel
@{
    ViewData["Title"] = "Invoice Constructor";
    var formId = Guid.NewGuid();
    var copyInvoiceFromDraftUrl = Url.RouteUrl("CopyInvoiceFromDraft");
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Invoices</a></li>
        <li class="breadcrumb-item active" aria-current="page">Invoice constructor</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-3 col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="@formId" asp-route="GenerateConstructor" data-request="ajax" rel="filterOnSubmit">
                    <fieldset>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CompanyId"></label>
                            <select asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control selectpicker" required></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Date"></label>
                            <input asp-for="Date" type="date" class="form-control" min="2018-01" required />
                        </div>
                        <div class="form-group">
                            <label asp-for="SearchCriterias"></label>
                            <select asp-for="SearchCriterias" asp-items="@ViewBag.SearchCriterias" name="SearchCriterias[]" class="form-control selectpicker" multiple data-live-search="true" required></select>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer" role="toolbar">
                <button class="btn btn-primary" form="@formId">Generate</button>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <div class="card">
            <div class="card-body" id="constructorContent">
                Apply filter to view generated invoices in database
            </div>
            <div class="card-footer">
                <button id="saveInvoiceDraftBtn" type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    function filterOnSubmit(e, jqXHR, status) {
        if (status === 'success') {
            var $content = $('#constructorContent').html(jqXHR.responseText).trigger('change');
            $content.find('form[data-request=ajax]').xSubmit({});
            $content.find('a[data-target=modal]').xLink();
        }
    }

    //Global function 
    function constructorOnUpdateDraftComplete(e, jqXHR, status) {
        var $form = $(e.currentTarget);
        if (status === 'success') {
            var data = jqXHR.responseJSON;
            $form.css('disabled', data.count == 0 ? "none" : "block");

            $form.find('label[data-name=totalCount]').html(data.count);
            $form.find('label[data-name=totalAmount]').html($.fn.bootstrapTable.formatCurrency(data.totalAmount));

            $form.find('input[name=TotalCount]').val(data.count);
            $form.find('input[name=TotalAmount]').val(data.totalAmount).trigger('change');
        }
    }

    function xModalHidden(e) {
        $('#@(formId)').submit();
    }

    function countTotal(e) {
        var content = $(e.currentTarget);
        //Sum by column
        content.find('tbody tr:eq(0) td').each((index, target) => {
            var cellTotalCount = 0, cellTotalAmount = 0;
            content.find('tbody tr').find('td:eq(' + index + ') input[name=TotalCount]').each((_i, tde) => {
                var value = $(tde).val();
                cellTotalCount += parseFloat(value || 0);
            });

            content.find('tbody tr').find('td:eq(' + index + ') input[name=TotalAmount]').each((_i, tde) => {
                var value = $(tde).val();
                cellTotalAmount += parseFloat(value || 0);
            });

            var totalTd = content.find('tfoot tr').find('td:eq(' + index + ')');
            totalTd.find('label[data-name=totalCount]').html(cellTotalCount);
            totalTd.find('label[data-name=totalAmount]').html($.fn.bootstrapTable.formatCurrency(cellTotalAmount));

            totalTd.find('input[name=TotalCount]').val(cellTotalCount );
            totalTd.find('input[name=TotalAmount]').val(cellTotalAmount );
        });

        //Sum by row
        content.find('tbody tr, tfoot tr').each((index, tre) => {
            var rowTotalCount = 0, rowTotalAmount = 0;
            $(tre).find('td.collapsing input[name=TotalCount]').each((_i, tde) => {
                var value = $(tde).val();
                rowTotalCount += parseFloat(value || 0);
            });

            $(tre).find('td.collapsing input[name=TotalAmount]').each((_i, tde) => {
                var value = $(tde).val();
                rowTotalAmount += parseFloat(value || 0);
            });

            $(tre).find('td:last label[data-name=totalCount]').html(rowTotalCount);
            $(tre).find('td:last label[data-name=totalAmount]').html($.fn.bootstrapTable.formatCurrency(rowTotalAmount));

            $(tre).find('td:last input[name=TotalCount]').val(rowTotalCount);
            $(tre).find('td:last input[name=TotalAmount]').val(rowTotalAmount);
        });
    }

    $(document).ready(e => {
        $('#constructorContent').on('change', e => {
            countTotal(e);
        });

        $('#saveInvoiceDraftBtn').on('click', e => {
            e.preventDefault();

            var ids = $('#constructorContent form').find('input[name=Id]:not([value=0])').map(function (index, element) {
                return $(element).val()
            });
            if (ids.length > 0) {
                var options = {
                    'type': 'post',
                    'url': '@copyInvoiceFromDraftUrl',
                    'data': { ids: ids.toArray() }
                };

                $.when($.ajax(options)).then((data) => {
                    alert(data);
                    $('#@(formId)').submit();
                });
            }
        });
    });
</script>
}