@{
    ViewData["Title"] = "Invoice Constructor";
    var formId = Guid.NewGuid();
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Invoices</a></li>
        <li class="breadcrumb-item active" aria-current="page">Invoice constructor</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-3 col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="@formId">
                    <fieldset>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label>Company</label>
                            <select id="companyId" asp-items="@ViewBag.Companies" class="form-control" required>
                                <option disabled selected> -- select an option -- </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input type="month" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label>Search Criteria</label>
                            <select -items="@ViewBag.SearchCriteria" class="form-control selectpicker" multiple required>
                                <option disabled selected> -- select an option -- </option>
                            </select>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" form="@formId">Generate</button>
            </div>
        </div>

    </div>
    <div class="col-lg-9 col-md-12">

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(e => {
            //on criteria change
            $('#companyId').on('change', e => {
                e.preventDefault();

                $.when($.fn.getCompanySummaryRange(e.currentTarget.value)).then(function (data, textStatus, jqXHR) {
                    var opt = $.map(data, (val, i) => { return `<option value='${val.id}'>${val.from} - ${val.to}</option>` });
                    $('#summaryRange').html(opt).removeAttr('disabled');
                });
            });
        });
    </script>
}