
@{
    ViewData["Title"] = "Invoices";
}

<div class="card">
    <div class="card-body">
        <div id="toolbar" role="toolbar">
            <a asp-controller="Invoice" asp-action="Create" class="btn btn-sm btn-outline-secondary"><i class="fa fa-plus mr-1"></i> Create</a>
            <a asp-controller="Invoice" asp-action="Bulk" class="btn btn-sm btn-outline-secondary"><i class="fa fa-mail-bulk mr-1"></i> Bulk</a>
        </div>
        <table id="datatable" data-toggle="table" data-url="/api/invoice"
               data-total-field="totalItems"
               data-data-field="items">
            <thead>
                <tr>
                    <th data-field="no" data-sortable="true">Invoice</th>
                    <th data-field="customerName" data-formatter="nameFormatter">Customer</th>
                    <th data-field="date" data-formatter="$.fn.bootstrapTable.formatDate" >Date</th>
                    <th data-field="dueDate" data-formatter="$.fn.bootstrapTable.formatDate" >Due Date</th>
                    <th data-field="subtotal" >Subtotal</th>
                    <th data-formatter="actionFormatter" class="text-nowrap text-right">Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
         function nameFormatter(value, row) {
            return `${value} <p class='text-muted'>${row.companyName}</p>`;
        }

        function actionFormatter(value, row) {
            return `<a href='/invoice/edit/${row.id}' class='btn btn-sm btn-outline-secondary mr-1'>Edit</a>
                        <a href='/invoice/details/${row.id}' class='btn btn-sm btn-outline-secondary mr-1'>Detail</a>`
        }

        //function customerActionFormatter(value, row) {
        //    return `<a href='/customer/details/${row.customerId}'>${value}</a>`
        //}
    </script>
}