<div class="list-group mb-5">
    <a class="list-group-item list-group-item-action active" asp-controller="Company" asp-action="Index">
        <div class="d-flex w-100 justify-content-between">
            <span><i class="fas fa-building mr-1"></i> Companies</span>
            <small></small>
        </div>
    </a>
    @*<a class="list-group-item list-group-item-action" asp-controller="Period" asp-action="Index">
            <div class="d-flex w-100 justify-content-between">
                <label><i class="fas fa-building"></i> Periods</label>
                <small></small>
            </div>
        </a>
        <a class="list-group-item list-group-item-action" asp-controller="Customer" asp-action="Index">
            <div class="d-flex w-100 justify-content-between">
                <span><i class="fas fa-building mr-1"></i> Customers</span>
                <small></small>
            </div>
        </a>*@
    <a class="list-group-item list-group-item-action" asp-controller="Invoice" asp-action="Index">
        <div class="d-flex w-100 justify-content-between">
            <span><i class="fas fa-file-invoice mr-1"></i> Invoices</span>
            <small></small>
        </div>
    </a>
</div>