@{
    ViewData["Title"] = "Companies List";
}

<div>
    <div id="toolbar" role="toolbar">
        <a asp-controller="Company" asp-action="Create" class="btn btn-primary"><i class="fa fa-plus mr-1"></i> Create</a>
    </div>
    <table id="datatable" class="table table-striped" data-toggle="table" data-url="/api/company" data-search="true" data-toolbar="#toolbar"
           data-thead-classes="thead-dark">
        <thead>
            <tr>
                <th data-field="no">Company Id</th>
                <th data-field="name">Name</th>
                <th data-field="totalCustomers">Total Customers</th>
                <th data-field="address">Address</th>
                <th data-formatter="actionFormatter" class="text-nowrap"></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        function actionFormatter(value, row) {
            return `<a href='/company/edit/${row.id}' class='mr-1'><i class='fa fa-edit'></i></a>
                    <a href='/company/details/${row.id}' class='mr-1'><i class='fa fa-file-invoice'></i></a>`;
        }
    </script>
}