
@{
    ViewData["Title"] = "Index";
}

<div>
    <div id="toolbar">
        <a asp-controller="Company" asp-action="Create" class="btn btn-link">Create</a>
    </div>
    <table id="datatable" class="table" data-toggle="table" data-url="/api/company" data-search="true" data-toolbar="#toolbar"
           data-thead-classes="thead-light">
        <thead>
            <tr>
                <th data-field="accountNumber">Account Number</th>
                <th data-field="name">Name</th>
                <th data-field="phoneNumber">Phone</th>
                <th data-field="address">Address</th>
                <th data-formatter="actionFormatter"></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        function actionFormatter(value, row) {
            return `<a href='/company/edit/${row.id}'><i class='fa fa-edit'></i></a>`
        }
    </script>
}