@model Web.ViewModels.ReportFilterViewModel

@{
    ViewData["Title"] = "A/R Aging Summary Report";
    var formId = Guid.NewGuid();

    var compareWithSavedUrl = Url.RouteUrl("CompareWithSaved");

}

@section Toolbar {
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2">
            <button id="customerCreditsBtn" class="btn btn-secondary" style="display: none">
                <i class="far fa-plus-square mr-2"></i> Create Credits
            </button>
        </div>
        <div class="btn-group mr-2">
            <div class="btn-group">
                <button id="compareBtn" class="btn btn-primary">Check</button>
            </div>
            <button id="saveBtn" class="btn btn-secondary">
                <i class="far fa-save mr-2"></i> Save
            </button>
        </div>
        <div class="btn-group">
            <button id="exportBtn" class="btn btn-secondary">
                <i class="fas fa-download mr-2"></i> Export
            </button>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-3 col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <form id="@formId" asp-route="RunAgingReport">
                    <fieldset>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CompanyId"></label>
                            <select id="companyId" asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control" required></select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Date"></label>
                            <input type="date" asp-for="Date" class="form-control" required />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NumberOfPeriods"></label>
                            <input asp-for="NumberOfPeriods" type="number" class="form-control" step="1" min="1" max="10" required />
                            <span asp-validation-for="NumberOfPeriods" class="text-danger"></span>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer" role="toolbar">
                <button class="btn btn-primary" form="@formId">Generate</button>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <div id="content"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function checkTheAbilityToSaveCredits(form) {
            var formData = form.serializeJSON();

            var options = {
                'url': 'checkTheAbilityToSaveCredits',
                'type': 'post',
                'data': JSON.stringify(formData),
                'processData': false,
                'contentType': 'application/json; charset=utf-8'
            }

            return $.ajax(options).done((data, status, jqXHR) => {
                if (status === 'success') {
                    (data == true) ? $customerCreditsBtn.show() : $customerCreditsBtn.hide();
                }
            });
        }

        $(document).ready(e => {
            var $form = $('#@formId');
            //on export button click
            $exportBtn = $('#exportBtn').click(e => {
                e.preventDefault();
                var formData = $form.serializeJSON();

                var options = {
                    'url': '/exportSettings',
                    'type': 'post',
                    'data': JSON.stringify(formData),
                    'processData': false,
                    'contentType': 'application/json; charset=utf-8'
                };

                $.ajax(options).done((data, status, jqXHR) => {
                    $(data).dialog('Export data');
                });
            });

            //on save btn click
            $saveBtn = $('#saveBtn').click(e => {
                e.preventDefault();
                var formData = $form.serializeJSON();

                var options = {
                    'url': '/savedReport',
                    'type': 'post',
                    'data': JSON.stringify(formData),
                    'processData': false,
                    'contentType': 'application/json; charset=utf-8'
                }

                $.ajax(options).done((data, status, jqXHR) => {
                    $(data).dialog('Save report', (status, e, target) => {
                        if (status === 'hidden.bs.modal') {
                            checkTheAbilityToSaveCredits($form);
                        }
                    });
                });
            });

            //create/update customer credit limits/utilized
            $customerCreditsBtn = $('#customerCreditsBtn').click(e => {
                e.preventDefault();
                var formData = $form.serializeJSON();

                var options = {
                    'url': 'createCustomerCredits',
                    'type': 'post',
                    'data': JSON.stringify(formData),
                    'processData': false,
                    'contentType': 'application/json; charset=utf-8'
                }

                $.ajax(options).done((data, status, jqXHR) => {
                    if (status === 'success') {
                        $(`<div>${data}</div>`).dialog('Credit Utilized Saved');
                    }
                });
            });

            $compareBtn = $('#compareBtn').click(e => {
                e.preventDefault();
                var formData = $form.serializeJSON();

                var options = {
                    'url': '@(compareWithSavedUrl)',
                    'type': 'post',
                    'data': JSON.stringify(formData),
                    'processData': false,
                    'contentType': 'application/json; charset=utf-8'
                }

                $.ajax(options).done((data, status, jqXHR) => {
                    if (status === 'success') {
                        $(`<div>${data}</div>`).dialog('Check Report');
                    }
                });
            });

            //on generate report
            $form.on('submit', e => {
                e.preventDefault();
                $.when(checkTheAbilityToSaveCredits($form)).then(result => {
                    $form.ajaxSubmit({}, (target, data, status) => {
                        status === 'success' ? $('#content').html(data) : $('#content').empty();
                    })
                });
            });
        });
    </script>
}