@model Web.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "A/R Aging Summary Report";
    ViewData["Subtitle"] = "Unpaid balances for each customer, grouped by days past due.";
}

@section Toolbar {
<ul class="nav justify-content-end">
    <li class="nav-item">
        <form asp-controller="Report" asp-action="ExportToCsv" method="post" id="test">
            <input type="hidden" name="CompanyId" id="printCompanyId" />
            <input type="hidden" name="Date" id="printDate" />
            <input type="hidden" name="DaysPerPeriod" id="printDaysPerPeriod" />
            <input type="hidden" name="NumberOfPeriod" id="printNumberOfPeriod" />
            <button type="submit" class="btn btn-sm btn-outline-secondary" onclick="submitExportToCvs()">Export CSV</button>
        </form>
    </li>
</ul>
}

<div class="row">
    <div class="col-lg-3 col-md-12">
        <form class="need-validation" id="filterReportForm" action="/api/report/aging" method="post">
            <fieldset>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="CompanyId"></label>
                            <select id="companyId" asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control selectpicker"
                                    required
                                    data-live-search="true">
                            </select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Date"></label>
                            <div class="input-group">
                                <input id="date" type="date" asp-for="Date" class="form-control" required />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="DaysPerPeriod"></label>
                            <input asp-for="DaysPerPeriod" type="number" step="1" class="form-control" min="30" required />
                            <span asp-validation-for="DaysPerPeriod" class="form-text text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NumberOfPeriod"></label>
                            <input id="numberOfPeriod" asp-for="NumberOfPeriod" type="number" step="1" class="form-control" min="0" required />
                            <span asp-validation-for="NumberOfPeriod" class="form-text text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="" role="toolbar" aria-label="Toolbar with button groups">
                            <button class="btn btn-sm btn-outline-secondary">Run report</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-9 col-md-3">
        <div class="card">
            <div id="content" class="card-body"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(e => {
            var $form = $('#filterReportForm');
            $form.on('submit', e => {
                $form.ajaxSubmit({}, (target, data, status) => {
                    status === 'success' ? $('#content').html(data) : $('#content').empty();
                });
                e.preventDefault();
            });
        });
        //function runReport(e) {
        //    var form = $('#filterReportForm');
        //    var fieldset = form.find('fieldset');
        //    var data = JSON.stringify(form.serializeJSON({ parseNumbers: true }));

        //    var options = {
        //        'url': '/api/report/aging',
        //        'type': 'POST',
        //        'data': data,
        //        'processData': false,
        //        'contentType': 'application/json; charset=utf-8'
        //    };

        //    fieldset.attr('disabled', 'disabled');
        //    $.ajax(options).done((data, status, jqXHR) => {
        //        fieldset.removeAttr('disabled');
        //        $('#content').html(data);
        //    }).fail((jqXHR, status) => {
        //        fieldset.removeAttr('disabled');
        //        alert(status)
        //    });
        //}

        function submitExportToCvs() {
            var data = $('#filterReportForm').serializeJSON();
            $('#printCompanyId').val(data.CompanyId);
            $('#printDate').val(data.Date);
            $('#printDaysPerPeriod').val(data.DaysPerPeriod);
            $('#printNumberOfPeriod').val(data.NumberOfPeriod);
        }
    </script>
}