@model List<Web.ViewModels.SavedReportListViewModel>
@{
    ViewData["Title"] = "Saved Reports";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div id="toolbar" class="btn-toolbar" role="toolbar">

            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>Count</th>
                        <th class="text-nowrap text-right table-active" width="10%" >Actions</th>
                    </tr>
                    @foreach(var item in Model) {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Count</td>
                            <td class="text-nowrap text-right table-active">
                                <a asp-controller="Report" asp-action="SavedDatails" asp-route-companyId="@item.CompanyId" class="btn btn-secondary">View</a>
                            </td>
                        </tr>
                    }
                </thead>
            </table>
        </div>
    </div>
</div>